html
head {
  font-family: 'Saira Stencil One', cursive;
  font-size: 50px
  background-color: black;
}
body {
  background-color: black
}

.navbar {
  font-family: 'Saira Stencil One', cursive;
}

.jumbotron {
  font-family: 'Work Sans', sans-serif;
<<<<<<< HEAD
  background-color: black;
  text-align: center;
  color: white
=======
>>>>>>> 928b534473b66ba6dc36d3a973af6bc9d4425465
}
