html, head {
  font-family: 'Saira Stencil One', cursive;

}
body {
  background-color: black
}

.navbar {
  font-family: 'Saira Stencil One', cursive;


}

.navbar-brand{
  font-size: 40px;
}

.jumbotron {
  font-family: 'Work Sans', sans-serif;


  background-color: black;
  text-align: center;
  color: white

  background-color: black;
  text-align: center;
  color: white


}
