html, body{
  font-family: 'Saira Stencil One', cursive;
}

.navbar-brand{
  font-size: 40px;
}

body{
  background-color: black;
}

img{
  width:500px;
  height:500px;
}

.jumbotron{
  background-color:black;
  text-align: center;
  color: white;


}
